@model duan_totnghiep.Models.Donhang

@{
    Layout = "_Layout";
}

<div class="form-container">

    <h2>Thêm đơn hàng</h2>
    <form asp-action="Them" method="post">
       
        <div class="form-group">
            <label>Khách hàng</label>
            <select asp-for="Makh" class="form-control">
                @foreach (var item in ViewBag.KhachHang)
                {
                    <option value="@item.Makh">@item.Hoten</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Nhân viên</label>
            <select asp-for="Manv" class="form-control">
                @foreach (var item in ViewBag.NhanVien)
                {
                    <option value="@item.Manv">@item.Hoten</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Ngày đặt</label>
            <input asp-for="Ngaydat" type="date" class="form-control" />
        </div>

        <div class="form-group">
            <label>Tổng tiền</label>
            <input asp-for="Tongtien" class="form-control" />
        </div>

        <div class="form-group">
            <label>Trạng thái</label>
            <input asp-for="Trangthai" class="form-control" />
        </div>

        <button type="submit" class="btn btn-add">
            Thêm
        </button>

        <a asp-action="Index" class="btn btn-cancel">
            Quay lại
        </a>

    </form>

</div>