@{
    ViewData["Title"] = "Home Page";
}
<style>
    .header {
        background: #999;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }

    .search input {
        width: 500px;
        height: 40px;
        border-radius: 20px;
        padding-left: 15px;
    }

    .menu-right {
        display: flex;
        align-items: center;
        gap: 20px;
    }

        .menu-right a {
            text-decoration: none;
            color: black;
            font-size: 35px;
        }

    .btn-dangky {
        background: black;
        color: white !important;
        padding: 10px 20px;
        border-radius: 20px;
    }
</style>
<div class="header">

    <!-- Logo -->
    <div class="logo">
        <img src="~/images/logo.png" alt="Logo" width="80">
    </div>

    <!-- Tìm kiếm -->
    <div class="search">
        <input type="text" placeholder="Tìm kiếm..." />
    </div>

    <!-- Các nút -->
    <div class="menu-right">

        <!-- Giỏ hàng -->
        <a asp-controller="Giohang" asp-action="Index">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>

        <!-- Tài khoản -->
        <a asp-controller="DangNhap" asp-action="Index">
            <i class="fa-solid fa-circle-user"></i>
        </a>

        <!-- Đăng ký -->
        <a asp-controller="DangKy" asp-action="Index" class="btn-dangky">
            Đăng kí
        </a>

    </div>

</div>